body{
    margin:0;
    font-family:'Segoe UI', sans-serif;
    background:#f8fafc;
    color:#1e293b;
    display:flex;
}

/* SIDEBAR */
.sidebar{
    width:240px;
    background:#ffffff;
    height:100vh;
    padding:20px;
    border-right:1px solid #e2e8f0;
}

.sidebar h2{
    color:#b91c1c;
    margin-bottom:30px;
}

.sidebar a{
    display:block;
    padding:10px;
    margin-bottom:10px;
    text-decoration:none;
    color:#475569;
    border-radius:8px;
}

.sidebar a:hover{
    background:#fee2e2;
    color:#b91c1c;
}

/* MAIN */
.main{
    flex:1;
    padding:30px;
}

.lesson-box{
    background:#ffffff;
    padding:25px;
    border-radius:12px;
    box-shadow:0 5px 15px rgba(0,0,0,0.05);
}

button{
    padding:10px 15px;
    background:#b91c1c;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
}

button:hover{
    background:#991b1b;
}

pre {
    background: #fff;
    color: #1e293b;
    padding: 20px;
    border-radius: 12px;
    font-size: 15px;
    line-height: 1.7;
    overflow-x: auto;
    border: 1px solid #fecaca; /* soft red border */
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
    font-family: 'Courier New', monospace;
    white-space: pre-wrap;
}

pre b {
    color: #b91c1c; /* highlight important words */
}

h3 {
    margin-top: 25px;
}

.quiz-result {
    background: #f5f5f5;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}